#textArea{
    -fx-background-color:    #e3bb9f60,  #e3bb9f60;
	
}

#textArea .content {
    -fx-background-color:   #e3bb9f60;
	
}

#textArea:focused .content {
    -fx-background-color:   #e3bb9f60;
	
}
.label{
	-fx-text-fill: #736c6c;
}

.root{
	-fx-background-color: #f5ede7;
}
/*table view*/
.table-view {
    -fx-background-color: transparent;
    -fx-font-family: Arial Rounded MT ;
}
.table-cell {
    -fx-alignment: center;
}
.table-view .column-header-background .filler {
    -fx-background-color: transparent;

}
.table-view .corner {
    -fx-background-color: transparent;

}
.table-view .column-header-background{
    -fx-font-family: Georgia;
    -fx-font-style: Bold Italic;
    -fx-background-color: linear-gradient(to bottom,  #e3bb9f,  #e3bb9f66);
    -fx-background-radius: 12px 12px 0px 0px;
	-fx-padding: 5px;
    /*-fx-padding: 0 5px 5px 0;
    -fx-background-insets: 1px;
     */
}


.table-view .column-header {
    -fx-background-color: transparent;
}
.table-view .table-cell{
    -fx-border-color: transparent;
    /*-fx-padding: 2 2 2 10px;

     */
}

.table-row-cell:hover {
    -fx-background-color: #FFD2D2;
    -fx-text-background-color: #ff61a2;
}

.table-row-cell:odd{
    -fx-background-color:  #e3bb9f10;
    /*-fx-background-insets: 0, 0 0 1 0;
    -fx-padding: 0.0em;

     */
}

.table-row-cell:even{
    -fx-background-color: #e3bb9f30;
    /*-fx-background-insets: 0, 0 0 1 0;
    -fx-padding: 0.0em;

     */
}

.table-view .virtual-flow .scroll-bar:vertical,
.table-view .virtual-flow .scroll-bar:vertical .track,
.table-view .virtual-flow .scroll-bar:vertical .track-background,
.table-view .virtual-flow .scroll-bar:horizontal,
.table-view .virtual-flow .scroll-bar:horizontal .track,
.table-view .virtual-flow .scroll-bar:horizontal .track-background {
    -fx-background-color: transparent;
}

.table-view .virtual-flow .scroll-bar .increment-button,
.table-view .virtual-flow .scroll-bar .decrement-button {
    -fx-opacity: 0;
    /*-fx-padding: 2;

     */
}
.table-view .virtual-flow .scroll-bar:vertical .thumb{
    -fx-background-color:  linear-gradient(to bottom, #e3bb9f,  #e3bb9f66);
}

.table-view .virtual-flow .scroll-bar:horizontal .thumb {
    -fx-background-color:  linear-gradient(to right, #e3bb9f,  #e3bb9f66);
}

.table-row-cell:selected {
    -fx-background-color: #e3bb9f;
    -fx-background-radius: 15px;
}

.menu-button{
    -fx-background-color:   #f0f0f0;
    -fx-background-radius: 50px;
    -fx-font-family: Georgia;
    -fx-font-size: 16;
}

.menu-button:hover{
    -fx-background-color: #561582;
}

.menu-item{
    -fx-background-radius: 50px;
    -fx-background-color: #f0f0f0;
    -fx-cursor: HAND;
}

.menu-item .label{
    -fx-text-fill: BLACK;
}

.menu-item:hover{
    -fx-background-color: #561582;
}


.context-menu{
    -fx-background-radius: 50px;
    -fx-background-color: #f0f0f0;
}

.button{
    -fx-background-color:  #E9E9E9;
    -fx-border-radius: 100px;
}

.button:hover{
    -fx-background-color: #561582;
    -fx-background-radius: 100px;
    -fx-text-fill: #ffffff;
}

.button:selected{
    -fx-background-color: #561582;
    -fx-background-radius: 100px;
    -fx-text-fill: #ffffff;
}
/*------------------------*/

/* Stylesheet */

.menu-button{
    -fx-background-color:   #f0f0f0;
    -fx-background-radius: 50px;
    -fx-font-family: Georgia;
    -fx-font-size: 16;
}

.menu-button:hover{
    -fx-background-color: #561582;
}

.menu-item{
    -fx-background-radius: 50px;
    -fx-background-color: #f0f0f0;
    -fx-cursor: HAND;
}

.menu-item .label{
    -fx-text-fill: BLACK;
}

.menu-item:hover{
    -fx-background-color: #561582;
}


.context-menu{
    -fx-background-radius: 50px;
    -fx-background-color: #f0f0f0;
}
/*------------------------*/

#anchorPane1{
	-fx-background-color :  #E9E9E9;
	-fx-background-radius : 80;
}
#anchorPane2{
	-fx-background-color :  #FFFFFF;
	-fx-background-radius : 80;
}
#anchorPane3{
	-fx-background-color :  #FFFFFF;
	-fx-background-radius : 80;
}
#anchorPane4{
	-fx-background-color :  #e3bb9f60;
	-fx-background-radius : 70;
}
#anchorPane4but{
	-fx-background-color :   #e3bb9f;
	-fx-background-radius : 50;
}
#log{
	-fx-background-color:  #e3bb9f10;
	-fx-background-radius: 80;
}
/*---------------*/

/*save but*/




#anchorPane4But:selected{
    -fx-background-color: #561582;
    -fx-background-radius: 100px;
    -fx-text-fill: #ffffff;
}
/*------------*/

/* button style*/
#save{
    -fx-background-color:  #e3bb9f;
	-fx-background-radius: 80;
    -fx-text-fill: white;

}
#save:hover{
    -fx-background-color: #D28B8B;
    -fx-background-radius: 100px;
    -fx-text-fill: #ffffff;
}

#selected{
	-fx-background-color :  #561582;
	-fx-background-radius : 100;
	-fx-text-fill: white;
}
#aboutUsButton{
    -fx-background-color :  #561582;
    -fx-background-radius : 100;
    -fx-text-fill: white;
}
.button{
    -fx-focus-traversable: false;
	-fx-border-radius: 50;
}
.button:hover{
    -fx-text-fill: #4C758A;
}
.button:pressed {
    -fx-text-fill: #08354B;
}
#CoursesTable:selected{
    -fx-background-color: blue;
}

/*---------------------*/
.combo-box
{
    -fx-background-color:  #e3bb9f70;
	-fx-background-radius: 50;
}
.combo-box:hover
{
    -fx-color: #e3bb9f;
}

/*-------*/
#instructorTableSearchBox{
	-fx-background-color:  #e3bb9f18;
	-fx-background-radius: 50;
}
#courseSearchBox{
	-fx-background-color:  #e3bb9f18;
	-fx-background-radius: 50;
}
#courseSearchBox1{
    -fx-background-color:  #e3bb9f18;
    -fx-background-radius: 50;
}
#courseSearchBox2{
    -fx-background-color:  #e3bb9f18;
    -fx-background-radius: 50;
}
#instructorSearchBox{
	-fx-background-color:  #e3bb9f18;
	-fx-background-radius: 50;
}
#facultySearchBox{
	-fx-background-color:  #e3bb9f18;
	-fx-background-radius: 50;
}
#searchBox{
	-fx-background-color:  #e3bb9f18;
	-fx-background-radius: 50;
}
#userSearchBox{
	-fx-background-color:  #e3bb9f18;
	-fx-background-radius: 50;
}
#studentSearchBox{
	-fx-background-color:  #e3bb9f18;
	-fx-background-radius: 50;
}
#x{-fx-background-color:  #e3bb9f18;
	-fx-background-radius: 50;}
#y{-fx-background-color:  #e3bb9f18;
	-fx-background-radius: 50;}
/*delete*/
#areYouSure{
    -fx-background-color :   white;
	-fx-text-fill: #c9987b;
    -fx-background-radius : 70;
}
/*homepageStyle*/
#userName{
	-fx-background-color: Transparent; 
	-fx-text-fill:  #f29441;
}
#T{
	-fx-background-color: Transparent; 
	-fx-text-fill:  #f29441;
}
#time{
    -fx-background-color: Transparent;
    -fx-text-fill: BLACK;
}
.tree-cell {
    -fx-background-color:  #E9E9E9;
    -fx-font-family: Georgia;
    -fx-font-size: 13;
    -fx-text-fill: #434545;
    -fx-padding: 20;
    -fx-background-radius: 50px;
}

.tree-cell:hover{
    -fx-background-color:  #561582;
    -fx-text-fill: #f0f0f0;
}

.tree-cell:selected{
    -fx-background-color: #561582;
    -fx-text-fill: #f0f0f0;
}

.tree-cell:empty{
    -fx-background-color: Transparent;
}

.tree-view{
    -fx-background-color:  #E9E9E9;
}

.menu-button{
    -fx-background-color:   #f0f0f0;
    -fx-background-radius: 50px;
    -fx-font-family: Georgia;
    -fx-font-size: 16;
}

.menu-button:hover{
    -fx-background-color: #561582;
}

.menu-item{
    -fx-background-radius: 50px;
    -fx-background-color: #f0f0f0;
    -fx-cursor: HAND;
}

.menu-item .label{
    -fx-text-fill: BLACK;
}

.menu-item:hover{
    -fx-background-color: #561582;
}


.context-menu{
    -fx-background-radius: 50px;
    -fx-background-color: #f0f0f0;
}

.anchor{
    -fx-background-color:  #ffffff;
    -fx-background-radius: 50px;

}

#addLoginError{
	-fx-background-color:  #e3bb9f;
}
#addErrorMessage{
    -fx-font-family: Consolas;
    -fx-highlight-fill: BLACk;
    -fx-highlight-text-fill: BLACk;
    -fx-text-fill: BLACk;
    -fx-font-size: 20;
}

#addErrorMessage .content {
    -fx-background-color:    #e3bb9f60;
    -fx-highlight-fill: BLACk;
    -fx-highlight-text-fill: BLACk;
    -fx-text-fill: BLACk;
    -fx-font-size: 20;
}

#addErrorMessage:focused .content {
    -fx-background-color:    #e3bb9f60;
    -fx-highlight-fill: BLACk;
    -fx-highlight-text-fill: BLACk;
    -fx-text-fill: BLACk;
    -fx-font-size: 20;
}
#errorOk{
	-fx-background-color: white;
}
#editLoginError{
	-fx-background-color:  #e3bb9f;
}
#editErrorMessage{
    -fx-font-family: Consolas;
    -fx-highlight-fill: BLACk;
    -fx-highlight-text-fill: BLACk;
    -fx-text-fill: BLACk;
    -fx-font-size: 20;
}

#editErrorMessage .content {
    -fx-background-color:    #e3bb9f60;
    -fx-highlight-fill: BLACk;
    -fx-highlight-text-fill: BLACk;
    -fx-text-fill: BLACk;
    -fx-font-size: 20;
}

#editErrorMessage:focused .content {
    -fx-background-color:    #e3bb9f60;
    -fx-highlight-fill: BLACk;
    -fx-highlight-text-fill: BLACk;
    -fx-text-fill: BLACk;
    -fx-font-size: 20;
}
#editFacultyError{
	-fx-background-color:  #e3bb9f;
}
#editFacultyErrorMessage{
    -fx-font-family: Consolas;
    -fx-highlight-fill: BLACk;
    -fx-highlight-text-fill: BLACk;
    -fx-text-fill: BLACk;
    -fx-font-size: 20;
}

#editFacultyErrorMessage .content {
    -fx-background-color:    #e3bb9f60;
    -fx-highlight-fill: BLACk;
    -fx-highlight-text-fill: BLACk;
    -fx-text-fill: BLACk;
    -fx-font-size: 20;
}

#editFacultyErrorMessage:focused .content {
    -fx-background-color:    #e3bb9f60;
    -fx-highlight-fill: BLACk;
    -fx-highlight-text-fill: BLACk;
    -fx-text-fill: BLACk;
    -fx-font-size: 20;
}

#editError{
	-fx-background-color:  #e3bb9f;
}
#editErrorMessage{
    -fx-font-family: Consolas;
    -fx-highlight-fill: BLACk;
    -fx-highlight-text-fill: BLACk;
    -fx-text-fill: BLACk;
    -fx-font-size: 20;
}

#editErrorMessage .content {
    -fx-background-color:    #e3bb9f60;
    -fx-highlight-fill: BLACk;
    -fx-highlight-text-fill: BLACk;
    -fx-text-fill: BLACk;
    -fx-font-size: 20;
}

#editErrorMessage:focused .content {
    -fx-background-color:    #e3bb9f60;
    -fx-highlight-fill: BLACk;
    -fx-highlight-text-fill: BLACk;
    -fx-text-fill: BLACk;
    -fx-font-size: 20;
}
#addFacultyError{
	-fx-background-color:  #e3bb9f;
}
#addFacultyErrorMessage{
    -fx-font-family: Consolas;
    -fx-highlight-fill: BLACk;
    -fx-highlight-text-fill: BLACk;
    -fx-text-fill: BLACk;
    -fx-font-size: 20;
}

#addFacultyErrorMessage .content {
    -fx-background-color:    #e3bb9f60;
    -fx-highlight-fill: BLACk;
    -fx-highlight-text-fill: BLACk;
    -fx-text-fill: BLACk;
    -fx-font-size: 20;
}

#addFacultyErrorMessage:focused .content {
    -fx-background-color:    #e3bb9f60;
    -fx-highlight-fill: BLACk;
    -fx-highlight-text-fill: BLACk;
    -fx-text-fill: BLACk;
    -fx-font-size: 20;
}



#addError{
	-fx-background-color:  #e3bb9f;
}
#addErrorMessage{
    -fx-font-family: Consolas;
    -fx-highlight-fill: BLACk;
    -fx-highlight-text-fill: BLACk;
    -fx-text-fill: BLACk;
    -fx-font-size: 20;
}

#addErrorMessage .content {
    -fx-background-color:    #e3bb9f60;
    -fx-highlight-fill: BLACk;
    -fx-highlight-text-fill: BLACk;
    -fx-text-fill: BLACk;
    -fx-font-size: 20;
}

#addErrorMessage:focused .content {
    -fx-background-color:    #e3bb9f60;
    -fx-highlight-fill: BLACk;
    -fx-highlight-text-fill: BLACk;
    -fx-text-fill: BLACk;
    -fx-font-size: 20;
}


/* not theme */

.notification-bar>.pane {
    -fx-background-color: #e3bb9f;
    -fx-padding: 5 5 5 5;
    -fx-background-insets: 0, 1, 2;
}

.notification-bar>.pane .title {
    -fx-font-size: 1.333em; /*16px;*/
    -fx-text-fill: black;
    -fx-font-weight: bold;
    -fx-alignment: center;
}

.notification-bar>.pane .label {
    -fx-font-size: 1em; /*12px;*/
    -fx-text-fill: black;
    -fx-alignment: top-left;
}
.notification-bar>.pane .close-button {
    -fx-background-color: red;
    -fx-background-insets: 0;
    -fx-background-radius: 0;
    -fx-padding: 0 0 0 0;
}

.notification-bar > .pane .close-button:hover {
    -fx-background-color: linear-gradient(#a3a3a3, #8b8b8b 34%, #777777 36%, #777777 63%, #8b8b8b 65%, #adadad);
}

.notification-bar>.pane .close-button:pressed {
    -fx-background-color: linear-gradient(#a3a3a3, #8b8b8b 34%, #777777 36%, #777777 63%, #8b8b8b 65%, #adadad);

}

.notification-bar>.pane .close-button>.graphic {
    -fx-background-color: black;
    -fx-scale-shape: false;
    -fx-padding: 4.5 4.5 4.5 4.5; /* Graphic is 9x9 px */
}

.notification-bar>.pane .close-button:hover>.graphic {
    -fx-background-color: black;
}

.notification-bar>.pane .close-button:pressed>.graphic {
    -fx-background-color: black;
}

.notification-bar>.pane .close-button>.graphic {
    -fx-shape:
            "M395.992,296.758l1.794-1.794l7.292,7.292l-1.795,1.794 L395.992,296.758z M403.256,294.992l1.794,1.794l-7.292,7.292l-1.794-1.795 L403.256,294.992z";
}